### **Introduction to `for` Loops**

In programming, a `for` loop provides a clean and concise way to iterate over a sequence of items. It's one of the most commonly used loops due to its simplicity and versatility in handling structured data types.

---

### **Iterating Over Ranges**

The `range()` function generates a sequence of numbers, which can be used in a `for` loop to repeat an action a specific number of times.

**Basic Syntax:**
```python
for variable in range(start, stop, step):
    # body of the loop
```

- `start`: The beginning value (optional, default is 0).
- `stop`: The end value (exclusive).
- `step`: The increment/decrement value (optional, default is 1).

**Example 1:** Counting from 0 to 4
```python
for i in range(5):
    print(i)
```

**Example 2:** Counting from 2 to 8 in steps of 2
```python
for i in range(2, 9, 2):
    print(i)
```

---

### **Iterating Over Lists**

A `for` loop can directly iterate over items in a list without needing to reference indices.

**Basic Syntax:**
```python
for item in list_name:
    # body of the loop
```

**Example:** Printing all items in a list
```python
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)
```

**Note:** The `for` loop can also iterate over other iterable data types like tuples, sets, strings, and dictionaries.

---

In [ ]:
#You can play around with the examples in this cell


### **Practice Exercises:**

1. **Number Doubler:** For numbers 1 through 10, print each number doubled.

In [ ]:
#Ex1
for i in range (1, 11,1):
  print (i * 2)

2
4
6
8
10
12
14
16
18
20

2. **Vowel Finder:** Given a word, iterate over it and print only the vowels.

In [ ]:
#Ex2
word = str(input("input the word "))
x = len(word)
for i in range (1, x,1):
    if word[i] == "a" or word[i] == "e" or word[i] == "i" or word[i]== "o" or word[i] == "u":
      print(word[i])

input the word aaaaaaaooe
a
a
a
a
a
a
o
o
e

3. **List Reverser:** Without using built-in functions, reverse the items in a list.

In [ ]:
#Ex3
word = str(input("word "))
l = len(word) -1
for i in range (l,-1,-1):
  print(word[i], end ="")

word word
drow

4. **Odd Number Counter:** Given a list of numbers, count how many odd numbers there are.

In [ ]:
#Ex4
number = [35,2,5,6,88,89,77]
n = 0
for i in number:
  if i % 2 != 0:
    n = n +1
print("there are ", n, "odd numbers")

there are  4 odd numbers

5. **Grade Assigner:** For a list of scores, assign and print grades (e.g., A, B, C).

In [4]:
#Ex5
score = [87,97,77,67,3,100]
l = len(score)
for i in range (0,l,1):
  if score[i] >= 90:
     print(score[i ], end="")
     print(" A")
  if score[i] < 90 and score [i] >= 80:
     print(score[i ], end="")
     print(" B")
  if score[i] < 80 and score [i] >= 70:
     print(score[i ], end="")
     print(" C")
  if score[i] < 70 and score [i] >= 60:
     print(score[i ], end="")
     print(" D")
  if score[i] < 60 and score [i] >= 0:
    print(score[i ], end="")
    print(" F")

87 B
97 A
77 C
67 D
3 F
100 A

6. **Word Lengths:** For a list of words, print each word alongside its length.

In [ ]:
#Ex6
words = ["hello","asjdklasjd","sajdk","sajdiuoiqwe","jas"]
l = len(words) -1
for word in words:
  print(word, len(word))

hello 5
asjdklasjd 10
sajdk 5
sajdiuoiqwe 11
jas 3

7. **Positive Number Finder:** Given a list of numbers, print only the positive ones.

In [ ]:
#Ex7
number = [1,-2,3,-4,5,-6,-7,8,9,-10]
for i in number:
  if i > 0:
    print(i)

1
3
5
8
9

8. **Temperature Converter:** Convert a list of temperatures from Celsius to Fahrenheit and print them.

In [ ]:
#Ex8
degree = [23,20,27,32,30,18,16]

for i in degree:
  f = i * 1.8 + 32
  print("degree Celsius : ", i, "degree Fahrenheit : ", f)

degree Celsius :  23 degree Fahrenheit :  73.4
degree Celsius :  20 degree Fahrenheit :  68.0
degree Celsius :  27 degree Fahrenheit :  80.6
degree Celsius :  32 degree Fahrenheit :  89.6
degree Celsius :  30 degree Fahrenheit :  86.0
degree Celsius :  18 degree Fahrenheit :  64.4
degree Celsius :  16 degree Fahrenheit :  60.8

9. **Name Initials:** For a list of full names, print the initials of each name.

In [1]:
#Ex9
names = ["Allen","Jefferson","Ryan","Green","Eagle","Naruto"]
for i in names:
  print(i[0])

A
J
R
G
E
N

10. **Range Sum:** Calculate the sum of numbers from 1 to 100 using a `for` loop.

In [ ]:
#Ex10
n = 0
for i in range (0,101,1):
  n = n +i
print(n)

5050